In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
import statsmodels.api as sm

In [3]:
data= pd.read_csv('reg_dummy_explaination.csv')

In [4]:
data.head(10)

   exp   salary gender
0  2.0   350000      F
1  2.0   360000      M
2  4.0   400000      F
3  4.0   900000      M
4  5.6   450000      F
5  5.6   750000      M
6  7.0   450000      F
7  7.0   770000      M
8  8.0  1000000      M
9  8.0   900000      F

In [5]:
data['salary']=data['salary']/1000
data.head()

   exp  salary gender
0  2.0   350.0      F
1  2.0   360.0      M
2  4.0   400.0      F
3  4.0   900.0      M
4  5.6   450.0      F

#### .copy is a good option to follow in practical work

# Solution Process starts from here

In [ ]:
df= data.copy()

In [ ]:
df.tail()

In [ ]:
sns.scatterplot(x='exp',y='salary',data=df);

In [ ]:
sns.scatterplot(x='exp',y='salary',data=df,hue='gender');

In [ ]:
sns.scatterplot(x='exp',y='salary',data=df,hue='gender');

In [ ]:
x1= df.iloc[:,[0,2]]
x1.head()

In [ ]:
y= df.iloc[:,1]
y.head()

In [ ]:
x1.head()

In [ ]:
X= sm.add_constant(x1)

In [ ]:
X.head()

In [ ]:
df['gender'].unique()

In [ ]:
#X= pd.get_dummies(X)

In [ ]:
X.head()

In [ ]:
X= pd.get_dummies(X,drop_first=True)

In [ ]:
X.head()

In [ ]:
X.head()

In [ ]:
model=sm.OLS(y,X).fit()

In [ ]:
model.summary()

In [ ]:
-8.895e+05

In [ ]:
2.269e+05

In [ ]:
5.084e+05

###  1. Salary of male is not different than female (assume everything else is constant)
### 2. Gender does not determine the salary (assume everything else is constant)